body {
    padding-top: 56px;
}

.bg-image-full {
    background: no-repeat center center scroll;
    -webkit-background-size: contain, cover;
    -moz-background-size: contain, cover;
    background-size: contain, cover;
    -o-background-size: contain, cover;
    height: 300px;
    width: 100%;
    opacity: 0.7;
}

#landing img {
    height: 100px;
    width: 100px;
}

#portfolio img {
    height: auto;
    width: auto;
    opacity: 0.7;
}

/* font properties: color and brighness; */

h1 {
    color: #0394fc;
    filter: brightness(110%);
}

p {
    color: #0394fc;
    filter: brightness(110%);
}

li {
    color: #0394fc;
    filter: brightness(110%);
}

/* Skill List Text Size */

#skill-list {
    font-size: 25px;
}


/*skill list hover effect*/

#skill-list li:hover {
    font-size: 30px;
    filter: brightness(150%);
}

/* font style */

* {
    font-family: 'MedievalSharp', cursive;
}

/*menu fonts*/

nav li {
    font-size: 23px;
}

/*Portfolio Section Text - test nested css*/

#portfolio {
    font-size: 20px;

}

#portfolio h1 {
    font-weight: bold;

}

#portfolio h2 {
    color: #0394fc;

}

#portfolio .card-title {
    font-size: 25px;
    font-weight: bold;
    color: #0394fc;
}

/*menu color*/
#menu {
    color: #0394fc;
    filter: brightness(105%);
    opacity: .99;

}

#menu .navbar-brand {
    color: #0394fc;
    filter: brightness(1000%);
    font-weight: bold;
}

#menu .nav-link {
    color: #0394fc;
    filter: brightness(1000%);
    font-weight: bold;
}

#menu .nav-link:hover {
    color: #0394fc;
    filter: brightness(1000%);
    transform: scale(1.2);
    transition-timing-function: ease-in-out;

}

/*Contact Font*/

#contact p {
    font-size: 25px;
}

#contact ::placeholder {
    font-size: 20px;
    color: #0394fc;

}

#contact input {
    font-size: 20px;
    color: #0394fc;
}

#contact textarea {
    font-size: 20px;
    color: #0394fc;
}


#contact .btn {
    font-size: 20px;
    color: white;

    background-color: #0394fc;
    
}

#portfolio .card:hover{
  transform: scale(1.1);

  transition-timing-function: ease-in-out;

}